main {
  text-align: center;
}

.nav-wrapper {
  display: flex;
}
body {
  background-image: url(https://images.pexels.com/photos/1542495/pexels-photo-1542495.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: 100%;
  color: white;
}

nav {
  background-color: rgba(255, 255, 255, 0.329);
}
a {
  color: white;
}

.users-list {
  margin: auto;
  text-align: center;
  color: white;
  background-color: rgba(105, 105, 105, 0.664);
  width: fit-content;
  font-size: large;
}

.sign-up-form, .login-form {
  display: flex;
  margin: auto;
  text-align: center;
  color: white;
  background-color: rgba(105, 105, 105, 0.664);
  width: fit-content;
}

input {
  margin: 15px;
  color: black;
}

#login-btn {
  color: black;
}